body {
	margin: 50px auto;
	max-width:600px;
	line-height:1.6;
	font-size:18px;
	background: #0f131b;
	color: white;
	font-family: sans-serif;
}

input,textarea {
	background: #20293b;
	width:100%;
	border: 10px solid;
	border-color: #20293b;
	font-size: 10pt;
  color: white;
  white-space: pre-wrap;
}

::placeholder {
	color: white;
	opacity: 1;
}

button {
	background: #6691cb;
	color: white;
	border: 10px solid;
	border-color: #6691cb;
}

h1 {
	color: #8ce6ff;
}

h2 {
	color: #d58ac7;
	margin: 1pt;
	font-size: 20pt;
}

details > summary {
	color: #d58ac7;
	margin: 1pt;
	font-size: 20pt;
}

a:link {
	color: #de7290;
}

a:visited {
	color: #9E6575;
}

.topnav {
  overflow: hidden;
  /* background-color: #333; */
	width:100%;
	line-height:1.6;
	font-size:18px;
}

.topnav a {
  float: left;
  color: #8ce6ff;
  background-color: #d58ac7;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #9E6575;
  color: #8ce6ff;
}

.topnav a.inactive {
  background-color: #9E6575;
  color: #8ce6ff;
}

